@import "./reset.css";

//vars
$base-color: #072e40;
$secondary-color: #fff7d6;
$tertiary-color: #c84417;
$fullname: 4.5rem;
$role_plate: 2.5rem;
$email: 1.5rem;
$section_title: 2rem;
$bio: 1rem;
$project_title:1.5rem;
$project_desc:1rem;
//mixins
@mixin section_title {
font-size: $section_title;
  color: $tertiary-color;
  text-align: center;
  padding-top: 2rem;
}
// general
body,
html {
  background: $base-color;
  font-family: "Rajdhani", sans-serif;
}
section {
  margin-bottom: 5rem;
}

.hero {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  h1.fullname {
    font-size: $fullname;
    margin-bottom: 1rem;
    text-align: center;
    color: $secondary-color;
  }
  p.subtitle {
    margin-bottom: 4rem;
    color: $tertiary-color;
    font-size: $role_plate;
    text-align: center;
  }
  .link_container {
    i {
      color: #a9a9a9;
      margin: 0;
      font-size: 3rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        transform: scale(1.1);
        color: lighten(#a9a9a9, 20%);
      }
    }
    margin-bottom: 2rem;
  }
  a.email {
    color: $secondary-color;
    font-size: $email;
    padding-bottom: 3rem;
  }
  button {
    box-shadow: -6px 8px 13px -5px #000;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 125px;
    height: 40px;
    border: 2px solid $secondary-color;
    display: inline-block;
    cursor: pointer;
    color: $secondary-color;
    text-decoration: none;
    text-shadow: 0px 1px 0px #000;
    transition: all 0.3s ease-in-out;
    margin: 0 auto;
    margin: 0rem 0.5rem;
    font-size: 1rem;

    &:hover {
      background: $secondary-color;
      transform: scale(1.05);
      color: $base-color;
    }
    &:active {
      position: relative;
      top: 4px;
    }
  }
}
.about {
  height: 100vh;
  .section_title {
    @include section_title;
  }
  .bio {
    color: $secondary-color;

    text-align: justify;
    justify-content: center;
    width: 75%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 3rem;
    font-size: $bio;
  }
}
.project {
  height: 100vh;
  .section_title {
    @include section_title;
  }
  .card_container {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 3rem;
    width: 100%;
    .card {
      text-align: center;
      margin-bottom: 2rem;
      max-width: 600px;
      img {
        width: 300px;
        box-shadow: -6px 8px 13px -5px #000;
        height: 250px;
        margin-bottom: 2rem;
        border-radius: 10px;
      }
      .project_info {
        margin: 0 auto;
        .project_title {
          color: $secondary-color;
          font-size: $project_title;
          margin-bottom: 1rem;
          text-decoration: underline;
        }
        .project_desc {
          color: $secondary-color;
          font-size: $project_desc;
          width: 80%;
          margin: 0 auto;
        }
        .projectBtn_container {
          width: 75%;
          margin: 0 auto;
          margin-top: 2rem;
          display: flex;
          justify-content: space-around;
          a {
            display: block;
            cursor: pointer;
            button {
              box-shadow: -6px 8px 13px -5px #000;
              background: rgba(0, 0, 0, 0.1);
              border-radius: 10px;
              width: 100px;
              height: 35px;
              border: 2px solid $secondary-color;
              display: inline-block;
              cursor: pointer;
              color: $secondary-color;
              text-decoration: none;
              text-shadow: 0px 1px 0px #000;
              transition: all 0.3s ease-in-out;
              margin: 0rem 0.5rem;
              font-size: 1rem;
              &:hover {
                background: $secondary-color;
                transform: scale(1.05);
                color: $base-color;
              }
              &:active {
                position: relative;
                top: 4px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  body,
  html {

  }

  .hero h1.fullname{
    font-size: 6rem;
  }
  .hero p.subtitle{
    font-size: 3rem;
  }
.about .section_title,.project .section_title{
  font-size: 3rem;
}
  .about .bio {
    text-align: justify;
    font-size: 1.5rem;
  }

  .project .card_container {
    flex-flow: wrap;
    justify-content: space-evenly;
    .card {
      flex-basis: 33%;
      img{
        width: 400px;
        height: 300px;
      }
    }
  }

}
