@import "./reset.css";
@import "./utility.scss";
@import "./vars.scss";
// general
body,
html {
  background: $base-color;
}

.home {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  h1.name_plate {
    font-size: $name_plate;
    text-align: center;
    color: $secondary-color;
  }
  p.subtitle {
    color: $tertiary-color;
    font-size: $role_plate;
    text-align: center;
  }
  .social_icon_container {
    i {
      color: #e5e5e5;
      font-size: 2rem;
    }
  }
  p.email {
    color: $secondary-color;
    padding-bottom: 1rem;
  }
}
.about {
  height: 100vh;
  .section_title {
    font-size: $section_title;
    color: $tertiary-color;
    text-align: center;
  }
  .about_text {
    color: $secondary-color;
    padding: 2rem 3rem;
    text-align: center;
  }
}
.work {
  height: 100vh;
  .section_title {
    font-size: $section_title;
    color: $tertiary-color;
    text-align: center;
  }
  .project_container {
    display: flex;
    justify-content: center;
    .project_card {
      height: 250px;
      width: 80%;
      max-width: 500px;
      display: flex;
      flex-flow: column;
      justify-content: flex-end;
      img {
        width: 100%;
        height: 100%;
        background-image: url("https://cdn3.vectorstock.com/i/1000x1000/86/57/color-image-cartoon-documents-in-opened-folder-vector-14668657.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      button {
        border: none;
        background: $tertiary-color;
        color: $secondary-color;
        text-align: center;
      }
    }
  }
}

.container {
  position: relative;
  width: 50%;

}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: all .3s ease-in-out;
}

.overlay-on {
  bottom: 0;
  height: 100%;
}

.test {
  color: white;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

button{
  height: 50px;
  width: 200px;

}


@media only screen and (min-width: 768px) {
  body,
  html {
    background: lighten($base-color, 10%);
  }
}
