@import "./reset.css";

//vars
$base-color: #072e40;
$secondary-color: #fff7d6;
$tertiary-color: #c84417;
$fullname: 4rem;
$role_plate: 2.5rem;
$section_title: 1.75rem;
// general
body,
html {
  background: $base-color;
  font-family: 'Rajdhani', sans-serif;
}
section {
  margin-bottom: 5rem;
}

.hero {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  h1.fullname {
    font-size: $fullname;
    margin-bottom: 1rem;
    text-align: center;
    color: $secondary-color;
  }
  p.subtitle {
    margin-bottom: 4rem;
    color: $tertiary-color;
    font-size: $role_plate;
    text-align: center;
  }
  .link_container {
    i {
      color: #a9a9a9;
      margin: 0;
      font-size: 3rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        transform: scale(1.1);
        color: lighten(#a9a9a9, 10%);
      }
    }
    margin-bottom: 2rem;

  }
  a.email {
    color: $secondary-color;
    font-size: 1.5rem;
    padding-bottom: 5rem;
  }
}
.about {
  height: 100vh;
  .section_title {
    font-size: $section_title;
    color: $tertiary-color;
    text-align: center;
    font-size: 2rem;
  }
  .bio {
    color: $secondary-color;
    padding: 2rem 3rem;
    text-align: center;
    width: 75%;
    max-width: 500px;
    margin: 0 auto;
    font-size: 1.5rem;
  }
}
.project {
  margin-bottom: 4rem;
  .section_title {
    font-size: $section_title;
    color: $tertiary-color;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
  }
}
.card_container {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.card {
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2), 0px 2px 6px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  width: 75%;
  height: 300px;
  margin-bottom: 1.5rem;
}

.project_bg {
  // width: 430px;
  height: 100%;
  position: relative;
  border-radius: 8px;
  img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.backdrop {
  width: 100%;

  height: 100%;
  position: relative;
  top: -100%;
  border-radius: 8px;
}

.info {
  text-align: center;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  background: #2a2a2a;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background-position: center center;
  background-size: cover;
  transition: all 0.3s ease;
  border-bottom-left-radius: 0px;
  .project_overlay {
    width: 75%;

    height: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin-top: -1.5rem;

    .project_title {
      font-size: 2rem;
      color: lighten($base-color, 15%);
    }
    .project_info {
      font-size: 1.1rem;
      color: #e5e5e5;
    }
    .button_container {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      button {
        cursor: pointer;
        border: 0;
        box-shadow: 0px 10px 14px -7px #696969;
        padding: 0;
        margin: 0;
        border-radius: 5px;
        background: #e5e5e5;
        width: 75px;
        height: 30px;
        font-size: 1.25rem;
        transition: all 0.3s ease-in-out;
        a {
          text-decoration: none;
          color: black;
        }
        &:hover {
          transform: scale(1.1);
          background: lighten(#e5e5e5, 10%);
        }
      }
    }
  }
}

.info.active {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  transition: width 0.3s ease, height 0.2s ease, top 0.2s ease,
    z-index 0.2s ease;
  z-index: 2;
}

.info i.block {
  color: #e5e5e5;
  display: block;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1);
    color: ligthen(#e5e5e5, 10%);
  }
}

.info .fa-info {
  padding: 8px;
  cursor: pointer;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.4s ease, transform 0.2s ease;
}

.info.active .fa-info {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.4s ease;
}

.info .fa-times {
  cursor: pointer;
  visibility: hidden;
}

.info.active .fa-times {
  width: 24px;
  height: 24px;
  padding: 4px;
  visibility: visible;
  position: absolute;
  bottom: 0;
  animation-name: visible;
  animation-duration: 0.3s;
  margin-bottom: 0.25rem;
  margin-left: 0.25rem;
}

.info p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  line-height: 110%;
  font-weight: 400;
  text-align: center;
  visibility: hidden;
}

.info.active p {
  visibility: visible;
  animation-name: entrance-first;
  animation-duration: 0.4s;
}

.info .link {
  visibility: hidden;
  margin: 24px 24px 0px 24px;
  padding: 16px 4px 4px 4px;
  cursor: pointer;
  position: relative;
  top: 144px;
}

.info.active .link {
  visibility: visible;
  animation-name: entrance-second;
  animation-duration: 0.5s;
}

@keyframes visible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes entrance-first {
  0% {
    top: 200px;
  }
  100% {
    top: 144px;
  }
}
@keyframes entrance-second {
  0% {
    top: 200px;
  }
  100% {
    top: 144px;
  }
}
@media only screen and (min-width: 768px) {
  body,
  html {
  }
  .about .bio{
    text-align: justify;
  }

  .card_container {
    flex-flow: wrap;
    justify-content: space-evenly;
  }
  .card {
    width: 30%;
    max-width: 500px;
    height: 350px;
    margin-bottom: 1.5rem;
  }
}
