@import "./reset.css";
@import "./utility.scss";
@import "./vars.scss";
// general
body,
html {
  background: $base-color;
}

.hero {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  h1.fullname {
    font-size: $fullname;
    text-align: center;
    color: $secondary-color;
  }
  p.subtitle {
    color: $tertiary-color;
    font-size: $role_plate;
    text-align: center;
  }
  .link_container {
    i {
      color: #A9A9A9;
      font-size: 2rem;
      cursor: pointer;
      transition: all .3s ease-in-out;
      &:hover{
        transform: scale(1.1);
        color: lighten(#A9A9A9,10%);
      }
    }
  }
  p.email {
    color: $secondary-color;
    padding-bottom: 1rem;
  }
}
.about {
  // height: 100vh;
  .section_title {
    font-size: $section_title;
    color: $tertiary-color;
    text-align: center;
  }
  .bio {
    color: $secondary-color;
    padding: 2rem 3rem;
    text-align: justify;
    width: 75%;
    max-width: 400px;
    margin: 0 auto;
    }

}
.project {
  height: 100vh;
  .section_title {
    font-size: $section_title;
    color: $tertiary-color;
    text-align: center;
  }
}
.card_container{

}
.card {
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2), 0px 2px 6px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  width: 75%;
  height: 40%;
  max-width: 500px;
  max-height: 500px;
}

.project_bg {
  // width: 430px;
  height: 100%;
  position: relative;
  border-radius: 8px;
  img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.backdrop {
  width: 100%;
  // height: 300px;
  height: 100%;
  position: relative;
  top: -100%;
  border-radius: 8px;
}

.info {
  text-align: center;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  background:#2a2a2a;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background-position: center center;
  background-size: cover;
  transition: all 0.3s ease;
  border-bottom-left-radius: 0px;
  .project_overlay {
    width: 75%;

    height: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin-top: -1.5rem;

    .project_title {
      font-size: 2rem;
      color: lighten($tertiary-color,10%);
    }
    .project_info {
      font-size: 1.1rem;
      color: #e5e5e5;

    }
    .button_container {
display: flex;
justify-content: space-evenly;
align-items: center;
      button {
        cursor: pointer;
        border: 0;

        padding: 0;
        margin: 0;
        border-radius: 5px;
        background: #e5e5e5;
        width: 75px;
        height: 30px;
        font-size: 1.25rem;
        transition: all .3s ease-in-out;
        a{
text-decoration: none;
color: black;
        }
        &:hover{
transform: scale(1.1);
background: lighten(#e5e5e5,10%)
        }
      }
    }
  }
}

.info.active {
  width: 100%;
  height: 100%;
  background:  rgba(0,0,0,.8);
  transition: width 0.3s ease, height 0.2s ease, top 0.2s ease,
    z-index 0.2s ease;
  z-index: 2;
}

.info i.block {
  color: #e5e5e5;
  display: block;
  transition: all .3s ease-in-out;
  &:hover{
transform: scale(1.1);
    color: ligthen(#e5e5e5,10%);
  }
}

.info .fa-info {
  padding: 8px;
  cursor: pointer;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.4s ease, transform 0.2s ease;
}

.info.active .fa-info {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.4s ease;
}

.info .fa-times {

  cursor: pointer;
  visibility: hidden;
}

.info.active .fa-times {
  width: 24px;
  height: 24px;
  padding: 4px;
  visibility: visible;
  position: absolute;
  bottom: 0;
  animation-name: visible;
  animation-duration: 0.3s;
  margin-bottom: 0.25rem;
  margin-left: 0.25rem;
}

.info p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  line-height: 110%;
  font-weight: 400;
  text-align: center;
  visibility: hidden;
}

.info.active p {
  visibility: visible;
  animation-name: entrance-first;
  animation-duration: 0.4s;
}

.info .link {
  visibility: hidden;
  margin: 24px 24px 0px 24px;
  padding: 16px 4px 4px 4px;
  cursor: pointer;
  position: relative;
  top: 144px;
}

.info.active .link {
  visibility: visible;
  animation-name: entrance-second;
  animation-duration: 0.5s;
}

@keyframes visible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes entrance-first {
  0% {
    top: 200px;
  }
  100% {
    top: 144px;
  }
}
@keyframes entrance-second {
  0% {
    top: 200px;
  }
  100% {
    top: 144px;
  }
}
@media only screen and (min-width: 768px) {
  body,
  html {
    background: lighten($base-color, 10%);
  }

  .card_container{
display: flex;
flex-wrap: wrap;

  }
  .card{
    width: 400px;
height: 300px;
  }
}
