@import "./reset.css";

//vars
$base-color: #072e40;
$secondary-color: #fff7d6;
$tertiary-color: #c84417;
$fullname: 4.5rem;
$role_plate: 2.5rem;
$email: 1.5rem;
$section_title: 2rem;
$bio: 1rem;
$project_title: 1.5rem;
$project_desc: 1rem;
//mixins
@mixin section_title {
  font-size: $section_title;
  color: $tertiary-color;
  text-align: center;
  padding-top: 2rem;
}
// Book mark

// general CSS
body,
html {
  background: $base-color;
  font-family: "Rajdhani", sans-serif;
}

html {
  scroll-behavior: smooth;
}
// Section CSS
section {
}
// scroll spy css
.scrollspy-nav .scrollspy-indicator {
  position: absolute;
  height: 3px;
  width: 0;
  background: #fff7d6;
  bottom: 0;
  left: 0;
  transition: width 0.3s, left 0.1s;
}
// hero section
.hero {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  h1.fullname {
    font-size: $fullname;
    margin-bottom: 1rem;
    font-weight: normal;
    text-align: center;
    color: $secondary-color;
  }
  p.subtitle {
    margin-bottom: 4rem;
    color: $tertiary-color;
    font-size: $role_plate;
    text-align: center;
  }
  a.email {
    color: $secondary-color;
    font-size: $email;
    padding-bottom: 3rem;
  }
  button {
    box-shadow: -6px 8px 13px -5px #000;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 125px;
    height: 40px;
    border: 2px solid $secondary-color;
    display: inline-block;
    cursor: pointer;
    color: $secondary-color;
    text-decoration: none;
    text-shadow: 0px 1px 0px #000;
    transition: all 0.3s ease-in-out;
    margin: 0 auto;
    margin: 0rem 0.5rem;
    font-size: 1rem;

    &:hover {
      background: $secondary-color;
      transform: scale(1.05);
      color: $base-color;
    }
    &:active {
      position: relative;
      top: 4px;
    }
  }
}
.link_container {
  margin-bottom: 2rem;
  i {
    color: #a9a9a9;
    margin: 0;
    font-size: 3rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: scale(1.1);
      color: lighten(#a9a9a9, 20%);
    }
  }
}
// about section
.about {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  .section_title {
    @include section_title;
  }
  .bio {
    color: $secondary-color;
    text-align: left;
    justify-content: center;
    width: 75%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 3rem;
    font-size: $bio;
  }
}
// project Section.
#project {
  height: 90vh;
padding: 4rem 0;
  .section_title {
    @include section_title;
  }
  .card_container {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    place-items: center;
    height: 60%;
    .card {
      margin-bottom: 1rem;
      padding: 1rem 0.5rem;
      background: #333;
      border-radius: 10px;
      display: flex;
      width: 90%;

      .project_info {
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        margin: 0 auto;
        .project_title {
          color: $secondary-color;
          font-size: $project_title;
          margin-bottom: 1rem;
          text-decoration: underline;
          text-align: center;
        }
        .project_desc {
          color: $secondary-color;
          font-size: $project_desc;
          text-align: center;
          padding: 0rem 1rem;
        }
        .projectBtn_container {
          display: flex;
          justify-content: center;

          a {
            display: block;
            cursor: pointer;
            text-align: center;
            button {
              box-shadow: -6px 8px 13px -5px #000;
              // background: rgba(0, 0, 0, 0.1);
              background: $base-color;
              border-radius: 10px;
              width: 80px;
              height: 35px;
              border: 2px solid $base-color;

              display: inline-block;
              cursor: pointer;
              color: $secondary-color;
              text-decoration: none;
              text-shadow: 0px 1px 0px #000;
              transition: all 0.3s ease-in-out;
              margin: 0rem 0.5rem;
              font-size: 1rem;
              &:hover {
                background: $secondary-color;
                transform: scale(1.05);
                color: $tertiary-color;
              }
              &:active {
                position: relative;
                top: 4px;
              }
            }
          }
        }
      }
    }
  }
}

.icon_set {
  padding-top: 1rem;
  text-align: center;
  & > * {
    font-size: 1.25rem;
    margin: 0 0.5rem;
  }
  .fa-js-square {
    color: #f0db4f;
  }
  .fa-node-js {
    color: #68a063;
  }
  .fa-css3-alt {
    color: #2965f1;
  }
  .fa-html5 {
    color: #f06529;
  }
  .fa-react {
    color: #61dafb;
  }
}
// filter css
.filterDiv {
  background-color: #333;
  color: #ffffff;
  text-align: center;
  margin: 2px;
  display: none;
  width: 80%;
  justify-content: center;
  align-items: center;
}

.show {
  display: flex;
}

.container {
  margin-top: 20px;
display: flex;
flex-flow: column;
width: 90%;
align-items: center;
justify-content: center;

}

/* Style the buttons */
#myBtnContainer{
  display: flex;
flex-wrap: wrap;
justify-content: center;
margin-top: 1.5rem;
}
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

.image-container {
  img {
    height: 150px;
    width: 150px;
    border-radius: 10px;
  }

}
@media only screen and (min-width: 768px) {

  .container{
flex-flow: row;
flex-wrap: wrap;
height: 66%;

  }
  .filterDiv{
width: 40%;
max-width: 450px;
  }
  .hero h1.fullname {
    font-size: 6rem;
    font-size: normal;
  }
  .hero p.subtitle {
    font-size: 3rem;
  }
  .about .section_title,
  .project .section_title {
    font-size: 3rem;
  }
  .about .bio {
    text-align: left;
    font-size: 1.5rem;
  }
  .project .card_container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;

    .card {


      img {
        width: 200px;
        height: 200px;

        border-radius: 10px;
        border: 3px solid grey;
      }
    }
  }
}
