.scrollspy-nav {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  left: 0;
  background: #072e40;
border-bottom: 1px solid black;
  z-index: 1;
  padding-top: 0.5rem;
}

.scrollspy-nav .scrollspy-link {
  text-decoration: none;
  color: #c84417;
font-family: "Rajdhani", sans-serif ;
  transition: 0.3s ease;

  margin: 0px 10px;
  padding: 0px 5px;
  cursor: pointer;
}

.scrollspy-nav .scrollspy-link:hover {
  color: #fff7d6;
}

.scrollspy-nav .scrollspy-indicator {
  position: absolute;
  height: 3px;
  width: 0;
  background: #fff7d6;
  bottom: 0;
  left: 0;
  transition: width 0.3s, left 0.1s;
}

.scrollspy-section {
  height: 100vh;
  display: flex;
flex-flow:column;
  align-items: center;
  justify-content: center;
font-family: "Rajdhani", sans-serif ;
}
